@using SimpleCrm.Web.Controllers
@model HomePageViewModel
@{
    ViewBag.Title = "Customers";
}

<html>

    <h1>Customers</h1>
    
    <table>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td><a href="/home/details/@customer.Id">Details</a></td>
                <td>@Html.ActionLink("View", nameof(HomeController.Details), new{id=customer.Id})
                <a asp-action="Details" asp-route-id="customer.id">Details</a>) 
                </td>
                <td>@customer.Id</td>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.PhoneNumber</td>
            </tr>
        }

    </table>

    <a asp-action="Create" asp-controller="Home">Create</a>
 
    
    @if(Model.Customers.Count == 0)
{
        <h2>No Customers Returned</h2>
}

         @section footer { 
                     <h3>@Model.CurrentMessage</h3>
         }
     